<div id="Modal" class="modal">
  <div class="modal-content">
    <p id="modal-content-text"></p>
    <p id="modal-content-timeUntil"></p>
    <progress value="0" max="10" id="progressBar"></progress>
  </div>
</div>