<div id="score-modal" class="modal">
    <div class="modal-content">
        <p id="score-modal-content-text"></p>
        <p id="score-modal-content-timeUntil"></p>
        <p id="score-modal-scoreOverview"></p>
        <progress value="0" max="10" id="score-progressBar"></progress>
    </div>
</div>