<p>Write your answer here</p>
<form action="" id="track-form">
    <input id="artist-input" autocomplete="off" type="text" placeholder="Artist">
    <input id="song-input" autocomplete="off" type="text"placeholder="Song">
    <button>Guess</button>
</form>
<div>
    <h2 id='no-player'>Not enough players in this room</h2>
</div>
<script type="module" src="./js/index.js"></script>