<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Guess the song</title>
  <script src="/socket.io/socket.io.js"></script>
  <meta name="HandheldFriendly" content="True" />
  <link href="https://fonts.googleapis.com/css?family=Amiko|Archivo+Narrow:500|Hind:700&display=swap" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
  <link rel="stylesheet" href="main.css">
  <meta name="description" content="Guess the song">
</head>
<header>
  <h1>Song guess</h1>
</header>
<body>
    {{{ body }}}

  {{!-- <script type="module" src="./js/guessTrack.js"></script> --}}
</body>
{{> modal }}
{{> toast }}
</html>