<form method="POST" action="/create-account">
  <fieldset>
    <label for="username">Choose username</label>
    <input type="text" name="username">
    <button type="submit">Submit username</button>
  </fieldset>
</form>