<div class="roomContainer">
  <div class="room">
    <h2>Festival room</h2>
    <a href="/Festival">Join Room</a>
  </div>
  <div class="room">
    <h2>Motown room</h2>
    <a href="/Motown">Join Room</a>
  </div>
  <div class="room">
    <h2>Pop room</h2>
    <a href="/Pop">Join Room</a>
  </div>
  <div class="room">
    <h2>Rock room</h2>
    <a href="/Rock">Join Room</a>
  </div>
</div>